@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
 body {
    font-family: "Archivo", sans-serif;
  }
}

.stroke {
  -webkit-text-stroke: 1px black; 
}



.flip {
  transform: rotate(-90deg);
  
}

.mymail {
  animation: rotateMe 0.5s linear forwards;
}
.textSize p {
  font-size: clamp(1rem, 2vw, 1.2rem);
}
/*.addFont {
  font-family: "orpheuspro", serif;

}*/
/*COLLABSABLE*/
.info-content {
  display: none;
  overflow: hidden;

}

.active {
  opacity: 1;
}


/*BANNER*/

.banner-inner {
	animation: myBanner 20s linear infinite;
	display: inline-block;
  position: relative;
	
}

.banner-copy-before {
	position: absolute;
	right: calc(100% + 0.25em);
}
.banner-copy-after {
	position: absolute;
	left: calc(100% + 0.25em);
}

/*ANIMATIONS*/

@keyframes rotateMe {
  to {
    transform: rotate(0deg);
  }
  to {
    transform: translateX(-45%);
  }
}



@keyframes myBanner {
	0% {
		transform: translateX(0);
	} 100% {
		transform: translateX(calc(-100% - 0.25em));
	}
}
